.AllMovies.container {
    min-height: 80vh;
    margin-top: 2%;
}
#root > div > div.AllMovies.container > div.MuiBox-root.css-i9gxme > div > div > div > img {
    max-width: 100%;
    margin-bottom: 5%;
}

#root > div > div.AllMovies.container > div.MuiBox-root.css-i9gxme > div > div  {
    text-decoration: none;
}

#root > div > div.AllMovies.container > div.MuiBox-root.css-i9gxme > div > div > div > p {
    margin: 2%;
}

#root > div > div.AllMovies.container > div.MuiBox-root.css-i9gxme > div > div > div > p:nth-child(2) {
    font-weight: bold;
    color: black;
}

#root > div > div.AllMovies.container > div.MuiBox-root.css-i9gxme > div > div > div > p:nth-child(3) {
    color: blue;
}

