#Signup {
    position: absolute;
    background-color: white;
    z-index: 1001;
    border-radius: 10px;
    top:100px;
    left: 25vw;
    width: calc(100vw - 25vw - 25vw);
    padding: 30px;
}

#SignupLogo {
    background-image: url("../../../image/FormHeader.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
    color: cadetblue;
}

@media (max-width: 800px) {
    #Signup {
        left: 10vw;
        width: calc(100vw - 20vw);
    }
}