div.TicketPicker-row.row {
    margin: 0 auto;
    height: 80vh;
    margin-top: 5vh;
    /* border-color: black !important;
    border-style: solid !important; */
}

div.Sidebar.col-md-5 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid #aaa;
    /* border-color: black !important;
    border-style: solid !important; */
}

div.Sidebar.col-md-5 h3, p {
    margin: 0;
}

div.Selectors.col-md-5 {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-color: black !important;
    border-style: solid !important; */
}

div.Selectors.ms-auto.col-md-5 h4 {
    margin: 0;
    margin-bottom: 10px;
}