.MovieMainPage{
    width: 100vw;
    height: 100vh;
}

.scrollable {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 20px;
    text-align: justify;
    padding: 20px;
}

.scrollableTest {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 20px;
    text-align: justify;
    padding: 20px;

}

